<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="components/FooterWebComponent.js"></script>
    <script defer src="components/HeaderWebComponent.js"></script>
    <link rel="stylesheet" href="../styles/pico.min.css">
</head>
<body>
<app-header></app-header>
<h1>Credits</h1>

<article style="height: max-content;width:100vw;position: absolute;top:15vh; display: flex;flex-direction: column">

    <h1>Project Credits :  <span>
        <a href="./index.html">
     Back to home
    </a>
   </span></h1>

    <h1> <i class="fas fa-code"></i>
        </i>Developer Team:</h1>
    <ul>
        <h4>Students of ISE Dept 2019-2023 Batch : ( Project Batch : P04 )</h4>

        <div style="display: flex; justify-content: space-around; align-items: center">
            <section>
                <li>Rohan Nayak K ( 4CB19IS047 )</li>
                <li>Kedar C Pai ( 4CB19IS024 )</li>
                <li>Sindhu S Badal ( 4CB19IS051 )</li>
                <li>Suryanarayan S Bhat ( 4CB19IS057 )</li>
                <li><b>Under Guidance Of :</b> Mrs. Geethalaxmi (Assistant Professor, Dept of ISE, CEC)</li>


            </section>
            <section>
                <img style="width: 40vw" src="./assets/Group.jpg">
            </section>

        </div>

    </ul>
    <details>
        <summary> <i class="fas fa-comment"></i>
            Developers Note: </summary>
        <p>
            We would like to take this opportunity to express our heartfelt thanks for the support and guidance that Department of ISE provided us during the development of our software project. We are grateful for the expertise and knowledge that we received from the department, which helped us to successfully complete the project.
            <br>
            <br>
            We would like to extend our special thanks to the faculty members who constantly motivated and encouraged us throughout the development process. Their guidance, feedback, and encouragement were essential in achieving the goals of the project.
            <br>
            <br>
            The department provided us with ideas and procedure, which helped us to develop the project with ease. The practical learning experience provided by the department has been invaluable in shaping this project.
            <br>
            <br>
            Once again, we express our gratitude to the Information Science Department for the incredible work that you continue to do for your students. We are honored to have been a part of the department and to have received your support and guidance.
        </p>
    </details>

    <details>
        <summary>
            <i class="fa fa-check" aria-hidden="true"></i>

            Gratitude to Project Guide</summary>
        <h1>
            <i class="fa-solid fa-user"></i>
            Project Guide:</h1>
        <ul>
            <li>Mrs. Geethalaxmi (Assistant Professor, Dept of ISE, CEC)</li>
        </ul>
        <p>
            We are writing to express our heartfelt gratitude to our project guide for exceptional guidance and support throughout our software project. Your expertise and guidance have been invaluable to the success of this project, and we cannot thank you enough.

            Your patience, clarity, and encouragement have been instrumental in helping us navigate the complexities of the project. Your insight and feedback have helped us improve our work and refine our approach, and we have all learned so much from your expertise and experience.

            Your dedication and commitment to this project have been truly inspiring, and we are all grateful for the time and effort you have invested in helping us achieve our goals. Your guidance has been a critical factor in the success of this project, and we are all deeply grateful for your contributions.

            Once again, thank you for your exceptional guidance and support. Your mentorship has been instrumental in our success, and we are all fortunate to have had the opportunity to work with you.

            <br>
            <br>
            Sincerely,
        </p>
    </details>


    <h1>
        <i class="fa-solid fa-square-check"></i>
        Special Thanks to:</h1>
    <ol>
        <li>Dr. Jagadisha N (HOD, Dept of ISE, CEC )</li>
        <li>Mrs. Sadhana B  (Assistant Professor, Dept of ISE, CEC)</li>
        <li>Mrs. Shilpa B (Assistant Professor, Dept of ISE, CEC)</li>
        <li>Mr. Ramesh Nayak (Associate Professor, Dept of ISE, CEC)</li>
    </ol>
    <p>We would like to express our gratitude to the above-mentioned individuals for their invaluable contributions and support in the development of our software project. Their guidance, feedback, and encouragement were essential to the success of this project.</p>



</article>

</body>
</html>
