<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>VTU Results2Excel Tool </title>
  <link href="../styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<div id="mainNav" class="navBar">
  <i class="fa-solid fa-graduation-cap"></i>
  <span class="appName">VTU Results<span class="twoNumTitle">2</span>Excel Tool</span>
</div>
<div class="vtuNav">
  <img class="vtuLogoImg" alt="VTU" src="../assets/vtuLogo.png" />
</div>
<div class="errorPageContainer">

  <h1>
    VTU Server DOWN ! Please try again or Later !
  </h1>
  <a href="./index.html">
    <button class="subBtn">
      <i class="fa-solid fa-house"></i>
      Back to home</button>
  </a>
</div>


<footer class="footerTag">&copy All rights Reserved - Designed and Developed by Rohan Nayak & Kedar Pai ( CEC )</footer>


</body>
</html>