<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>VTU Results2Excel Tool </title>
    <script defer src="components/FooterWebComponent.js"></script>
    <script defer src="components/HeaderWebComponent.js"></script>
    <link rel="stylesheet" href="../styles/pico.min.css">
    <link rel="stylesheet" href="../styles/global.css">

</head>
<body>

<app-header></app-header>

<article style="height: max-content;width:100vw;position: absolute;top:15vh; display: flex;flex-direction: column;justify-content: center">

    <section>
            <fieldset>
                <legend>Data & Analysis :</legend>
                <label for="readIn">Upload Generated Excel File :</label>
                <input type="file"  name="xlfile" id="readIn" />
                <a href="./index.html">
                    <button class="subBtn">
                        <i class="fa-solid fa-house"></i>
                        Back to home</button>
                    </a>
            </fieldset>

        <details>
            <summary>Analysis</summary>
            Some analysis of the excel file will be shown here ( Under Development )
        </details>

        <details>
            <summary>Excel Data</summary>
            <div id="htmlout"></div>
        </details>

    </section>

</article>


 <app-footer></app-footer>

<script >
    const readFile = function(files) {
            const f = files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                let data = e.target.result;
                data = new Uint8Array(data);
                window.Bridge.sendReadExcel(data)


            };
            reader.readAsArrayBuffer(f);
        };

        const readIn = document.getElementById('readIn');
        readIn.addEventListener('change', (e) => { readFile(e.target.files); }, false);

</script>
</body>
</html>
