<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VTU Results2Excel Tool </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="components/FooterWebComponent.js"></script>
  <script defer src="components/HeaderWebComponent.js"></script>
  <link rel="stylesheet" href="../styles/pico.min.css">
</head>
<body>
<app-header></app-header>

<article style="height: max-content;width:100vw;position: absolute;top:15vh; display: flex;flex-direction: column;justify-content: center">
  <h1 style="color: red">
   Something went wrong ! Please try again or Later !
  </h1>
  <a  href="./index.html">
    <link class="subBtn">
    <i class="fa-solid fa-house"></i>
    Back to home</link>
  </a>
</article>


<app-footer></app-footer>


</body>
</html>
