<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>VTU Results2Excel Tool </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
<div id="mainNav" class="navBar">
    <i class="fa-solid fa-graduation-cap"></i>
    <span class="appName">VTU Results<span class="twoNumTitle">2</span>Excel Tool</span>
</div>
<div class="vtuNav">
    <img class="vtuLogoImg" alt="CANARA" src="../assets/cec_logo.png" />
</div>

<div class="generateExcel">
<h1>Generate Excel from extracted data</h1>
    <form id="generateForm">
        <fieldset id="browsePathFieldSet">
            <legend>Generate :</legend>
            <label for="path">Enter the Folder Path :</label>
            <input id="filePathInput" required placeholder="Enter path " type="text" name="path">

            <h3>OR</h3>
            <div onClick="browsePathHandler()" class="browseButton">
                <i class="fa-solid fa-folder-open"></i>
                Browse Path
            </div>
            <div id="loadingContainer" class="centreWrapper">
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <p>Generating please wait...</p>
            </div>


        </fieldset>
        <input id="generateSubmitBtn" type="submit" value="Submit">

    </form>
</div>


<footer class="footerTag">&copy All rights Reserved - Designed and Developed by Rohan Nayak & Kedar Pai ( CEC )</footer>

<script>
    let form= document.getElementById("generateForm")

    let loader = document.getElementById("loadingContainer")
    form.addEventListener("submit",(e)=>{
        loader.style.display ="flex"
        let filePathInp= document.getElementById("filePathInput").value
        let formDataObj={
            path: filePathInp
        }
        window.Bridge.sendGenerateNewExcel(formDataObj)
    })


    const browsePathHandler=()=>{
        window.Bridge.sendBrowsePath()

    }

</script>
</body>
</html>
