<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="components/FooterWebComponent.js"></script>
    <script defer src="components/HeaderWebComponent.js"></script>
    <link rel="stylesheet" href="../styles/pico.min.css">
    <title>VTU Results2Excel Tool </title>
  </head>
  <body>

  <app-header></app-header>

  <article style="height: max-content;width:100vw;position: absolute;top:15vh; display: flex;flex-direction: column;justify-content: center">
    <h1>Help Page Coming Soon...</h1>
  </article>

    <app-footer></app-footer>


  </body>
</html>
