<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="../styles/styles.css" rel="stylesheet">
    <title>VTU Results2Excel Tool </title>
  </head>
  <body>

    <div id="mainNav" class="navBar">
      <i class="fa-solid fa-graduation-cap"></i>
      <span class="appName">VTU Results<span class="twoNumTitle">2</span>Excel Tool</span>
    </div>

    <div class="vtuNav">
      <img class="vtuLogoImg" alt="CANARA" src="../assets/cec_logo.png" />
    </div>

    <h1 style="color:white">Help Page Coming Soon...</h1>

  <footer class="footerTag">&copy All rights Reserved - Designed and Developed by Rohan Nayak & Kedar Pai ( CEC )</footer>


  </body>
</html>
