<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="../styles.css" rel="stylesheet">
    <title>VTU Results2Excel Tool </title>
  </head>
  <body>
    <div id="mainNav" class="navBar">
      <i class="fa-solid fa-graduation-cap"></i>
      <span class="appName">VTU Results<span class="twoNumTitle">2</span>Excel Tool</span>
      <mark id="version"><i class="fa-solid fa-calendar-check"></i> Version : 1.0.0</mark>
    </div>
    <div class="vtuNav">
      <img class="vtuLogoImg" alt="CANARA" src="../assets/cec_logo.png" />
    </div>

    <div class="homeMenuOptions">

      <h3 style="color: white">
        <i class="fa-solid fa-bars"></i>
        MAIN MENU</h3>
      <a href="./vtuConnecAPI.html">
      <button id="vtuConnectAPI" >
        <i class="fa-solid fa-globe"></i>
        Extract from VTU Connect API</button>
      </a>

      <button id="openVtuResultBtn">
        <i class="fa-solid fa-building-columns"></i>
        Extract From VTU Results Original Website <mark id="betaTag">New</mark></button>




      <a href="./excelRead.html">
        <button class="readExcelBtn">
          <i class="fa-sharp fa-solid fa-file-excel"></i>
          Read Data</button>
      </a>

      <a href="./usnRangeInput.html">
        <button class="readExcelBtn">
          <i class="fa-solid fa-robot"></i>
          Automated Extraction</button>
      </a>

      <a href="./help.html">
        <button class="readExcelBtn" id="helpBtn">

          <i class="fa-solid fa-question"></i>
          Help</button>
      </a>



    </div>

    </div>
  <footer class="footerTag">&copy All rights Reserved - Designed and Developed by Rohan Nayak & Kedar Pai ( CEC )</footer>

    <script>
      let openVtuResultBtn=document.getElementById("openVtuResultBtn");
      openVtuResultBtn.addEventListener("click",()=>{
        window.Bridge.openResult()

      })
    </script>
  </body>
</html>
