<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="../styles/styles.css" rel="stylesheet">
    <title>VTU Results2Excel Tool </title>
  </head>
  <body>
    <div id="mainNav" class="navBar">
      <i class="fa-solid fa-graduation-cap"></i>
      <span class="appName">VTU Results<span class="twoNumTitle">2</span>Excel Tool</span>
      <mark id="version"><i class="fa-solid fa-calendar-check"></i> Version : 1.0.0</mark>
    </div>
    <div class="vtuNav">
      <img class="vtuLogoImg" alt="CANARA" src="../assets/cec_logo.png" />
    </div>

    <div class="homeMenuOptions">

      <h3 style="color: white">
        <i class="fa-solid fa-bars"></i>
        MAIN MENU</h3>

      <h3 style="color: white">Internet Connection status : <strong style="color: white" id='status'></strong></h3>


      <button id="openVtuResultBtn">
        <i class="fa-solid fa-building-columns"></i>
        Extract Results
        </button>

      <a href="./excelRead.html">
        <button class="readExcelBtn">
          <i class="fa-sharp fa-solid fa-file-excel"></i>
          Read Data</button>
      </a>


      <a href="./help.html">
        <button class="readExcelBtn" id="helpBtn">

          <i class="fa-solid fa-question"></i>
          Help</button>
      </a>



    </div>


  <footer class="footerTag">&copy All rights Reserved - Designed and Developed by Rohan Nayak & Kedar Pai ( CEC )</footer>

    <script>
      let openVtuResultBtn=document.getElementById("openVtuResultBtn");
      openVtuResultBtn.addEventListener("click",()=>{
        window.Bridge.openResult()
      })

      const updateOnlineStatus = () => {
        document.getElementById('status').innerHTML = navigator.onLine ? 'Connected ' : 'Not Connected'
        if(navigator.onLine){
          document.getElementById('status').style.color = '#00ff00'
        }
        else {
          document.getElementById('status').style.color = 'red'
        }

      }

      window.addEventListener('online', updateOnlineStatus)
      window.addEventListener('offline', updateOnlineStatus)

      updateOnlineStatus()
    </script>
  </body>
</html>
