<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>VTU Results2Excel Tool </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<div id="mainNav" class="navBar">
    <i class="fa-solid fa-graduation-cap"></i>
    <span class="appName">VTU Results<span class="twoNumTitle">2</span>Excel Tool</span>
</div>
<div class="vtuNav">
    <img class="vtuLogoImg" alt="VTU" src="../assets/vtuLogo.png" />
</div>

<div class="generateExcel">
<h1>Extract from VTU Result website</h1>
   <form id="usnRangeForm">
        <fieldset>
            <legend>Enter USN Details :</legend>


            <div class="inputWrapper">
                <label  class="flabel" for="startUSN">Starting USN:</label>
                <input id="startUSN" required placeholder="Enter first student USN" name="startUSN" type="text" />
            </div>
            <div class="inputWrapper">
                <label class="flabel" for="endUSN">Ending USN :</label>
                <input id="endUSN" required placeholder="Enter last student USN" name="endUSN" type="text" />
            </div>


                <input id="usnRangeSubmit" type="submit" value="Submit">

            </form>

        </fieldset>


</div>


<footer class="footerTag">&copy All rights Reserved - Designed and Developed by Rohan Nayak & Kedar Pai ( CEC )</footer>

<script>

    let ipform = document.getElementById("usnRangeForm")


    ipform.addEventListener("submit",(e)=>{
        e.preventDefault()
        let endUSNValue=document.getElementById("endUSN").value
        if(parseInt(endUSNValue.slice(7,11))>60){
            return alert("Input domain Range Exceeded!, Cannot Enter Value above 60!")
        }

        let startUSNValue=document.getElementById("startUSN").value
        let USN_FIXED_PART = startUSNValue.slice(0,7)


        let formDataObj={
            startUSNValue:startUSNValue.slice(7,11),
            endUSNValue:endUSNValue.slice(7,11),
            USN_FIXED_PART:USN_FIXED_PART
        }
            window.Bridge.sendUSNRange(formDataObj)
        })

</script>


</body>
</html>
