

body{
    padding: 0;
    margin: 0;
    background-color: #3a3a3a;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


#version{
  background-color: lightsteelblue;
  padding: 2px;
  font-size: small;
  margin-left: 2px;
  color: darkblue;
}

#helpBtn{
  background-color: aquamarine;
  color: #222222;
  font-weight: bold;
}

.whiteText{
color: white;
}

#browsePathFieldSet{
  display: flex;
  padding: 20px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#browsePathFieldSet>input{
  padding: 5px;
  width: 100%;
}

#generateSubmitBtn{
  padding: 5px;
  width: 100%;
  background-color: palegreen;
  color: #222222;
  font-weight: bold;
  border: none;
}


.browseButton{
  cursor: pointer;
  color: #000;
  padding: 5px;

  width: 100%;
  text-align: center;
  border-radius: 3px;
  background :whitesmoke;
  font-size:small;
}

.browseButton:hover{

  background-color:lightgray;
}


.navBar{
    display: flex;
    background-color:white;
    width: 100vw;
    height: 10vh; 
    font-size: x-large;
    align-items: center;
    justify-content: center;
}

.vtuNav{
  display: flex;
    width: 100vw;
    height: 20vh; 
    align-items: center;
    justify-content: center;
  background-color:#222222;
}


#vtuLogoNav{
  position: absolute;
  top:10vh;
}

.homeMenuOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.homeMenuOptions p{
    color: white;
}

.homeMenuOptions button{
    width: 25vw;
    padding: 10px;
    cursor: pointer;
    transition: ease-out;
}

.generateExcel{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerTag{
    display: flex;
    position: fixed;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    color: white;
}

.MainContent{
    display: flex;
    position: absolute;
    top:30vh;
    width: 100vw;
    height: 70vh;
    left: 0;
    flex-direction: column;
    align-items: center;
    color: white;
    gap:5vh;
  

}

.errorPageContainer{
    display: flex;
    color: orangered;

    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#betaTag{
    background: indianred;
    color: white;
    padding: 2px;
}


.flabel{
margin-right: 10px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.centreWrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

}

.subBtn{
    width: 10vw;
    border: none;
    padding: 10px;
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
    
}

.subBtn:hover{
    background-color: seagreen;
}



.resetbtn{
    width: 10vw;
    border: none;
    padding: 10px;
    background-color: indianred;
    color: white;
    cursor: pointer;
}
.resetbtn:hover{
  background-color: #842029;
}

#detailsForm2{
    display: none;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #loadingContainer{
    display: none;
  }

  .alertMessageSuccess{
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
    color: #0f5132;
    text-align: center;
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .alertMessageError{
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
    font-size: medium;
    padding: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .twoNumTitle{
    color: goldenrod;
    font-weight: bold;
  }
  .appName{
    margin-left: 5px;
  }


  .readExcelBtn{
    width: 10vw;
    border: none;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }
  
  .readExcelBtn:hover{
    background-color: steelblue;
  }

  #htmlout{
      width: 90vw;
      padding-bottom: 5vh;
  }

  #htmlout table{
      padding: 20px;
  }
  #htmlout th{
      width: max-content;
  }

  #htmlout table th, td {
    border: 1px solid white;
    text-align: center;
      padding: 5px;
  }

  #htmlout table tr:first-child 
   { background-color: skyblue; 
    font-weight: bold;
    font-size: large;
  color: black;}

  #htmlout table tr:nth-child(2){
    background-color: lightcyan;
    color: #222222;
    font-size: large;
    font-weight: bold;
  }

  #htmlout table tr:nth-child(3){
    background-color:lightgoldenrodyellow;
    color: #222222;
    font-weight: bold;

  }

  #htmlout table tr:nth-child(4){
    background-color: lightgrey;
    color: #222222;
    font-weight: bold;
  }

